autopep8
bash_kernel
catboost
feather-format
flake8
flake8-bugbear
flake8-isort
ggplot
ipywidgets
jupyterlab
jupyter_contrib_nbextensions
jupyterthemes
lightgbm
matplotlib
pandas
pandas-datareader
pep8-naming
plotly
polars
psutil
pystan
scikit-learn
scipy
seaborn
sklearn-pandas
sktime
statsmodels
tqdm
xgboost