autopep8==2.3.1
bash_kernel==0.9.3
catboost==1.2.5
feather-format==0.4.1
flake8==7.1.1
flake8-bugbear==24.8.19
flake8-isort==6.1.1
ggplot==0.11.5
ipykernel==6.29.5
ipywidgets==8.1.5
jupyterlab==4.2.4
jupyterthemes==0.20.0
lightgbm==4.5.0
matplotlib==3.9.2
pandas==2.2.2
pandas-datareader==0.10.0
path.py==12.5.0
pep8-naming==0.14.1
pillow==10.4.0
plotly==5.23.0
polars==1.5.0
psutil==6.0.0
pystan==3.10.0
pygments==2.18.0
qtconsole==5.5.2
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
sklearn-pandas==2.2.0
sktime==0.32.1
six==1.16.0
sphinx==8.0.2
statsmodels==0.14.2
tqdm==4.66.5
wheel==0.44.0
xgboost==2.1.1
zmq==0.0.0