autopep8
bash_kernel
catboost
feather-format
flake8
flake8-bugbear
flake8-isort
ggplot
ipykernel
ipywidgets
jupyter_contrib_nbextensions
jupyterlab
jupyterthemes
lightgbm
matplotlib
pandas
pandas-datareader
path.py
pep8-naming
pillow
plotly
polars
psutil
pystan
pygments
qtconsole
scikit-learn
scipy
seaborn
sklearn-pandas
sktime
six
sphinx
statsmodels
tqdm
wheel
xgboost
zmq